<div class="row">
  <div class="col-6">
    <app-article
      *ngFor="let article of sortedArticles()"
      [article]="article"
    ></app-article>
  </div>
  <div class="col-6">
    <div class="card my-3">
      <div class="card-header">Add a link</div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputTitle" class="form-label">Title</label>
            <input
              #newTitle
              name="title"
              class="form-control"
              id="exampleInputTitle"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              The title should be unusual.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputLink" class="form-label">Link</label>
            <input
              #newLink
              name="link"
              class="form-control"
              id="exampleInputLink"
            />
          </div>
          <button
            (click)="addArticle(newTitle, newLink)"
            type="submit"
            class="btn btn-primary"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
